<今天上课学生 时间="2024/6/11" 动态添加="运行时">
	Unity3D课程<学生 性别="男">
		<学号>210500</学号>
		<学号>210501</学号>
		<学号>210502</学号>
		<学号>210503</学号>
		<学号>210504</学号>
		<学号>210505</学号>
	</学生><女生 性别="女">
		<学号>0</学号>
		<学号>1</学号>
		<学号>2</学号>
		<学号>3</学号>
		<学号>4</学号>
		<学号>5</学号>
		<学号>6</学号>
		<学号>7</学号>
	</女生>
</今天上课学生>